<div class="container mt-5">
  <h1>Member Dashboard</h1>
  <hr>
  <div class="d-flex justify-content-end mb-3">
    <span class="text-muted mt-2 mr-3">Hi! <%= "#{@current_user.role.capitalize()} (Id: #{@current_user.id})" %> <%= @current_user.email %></span>
    <%= link_to 'Logout', member_logout_path, method: :delete, class: 'btn btn-danger' %>
  </div>
  <hr>
</div>

  <div style="padding: 50px 180px">
    <div class="col-md-12">

      <div class="card mb-4">
        <div class="card-header bg-success text-white">
          <h5 class="mb-0">Borrow a Book</h5>
        </div>
        <div class="card-body">
          <%= form_with(model: Borrowing.new, url: borrowings_path, method: :post) do |form| %>
            <div class="form-group">
              <%= form.label :book_id, 'Select a Book to Borrow' %>
              <%= form.collection_select :book_id, Book.available_for_borrow, :id, :title, { prompt: 'Select a book' }, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= form.submit 'Borrow', class: 'btn btn-success' %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          <h5 class="mb-0">Books Borrowed</h5>
        </div>
        <div class="card-body">
          <% if @borrowed_books.present? %>
            <table class="table">
              <thead>
                <tr>
                  <th>Book</th>
                  <th>Author</th>
                  <th>Due On</th>
                  <th>Return Book</th>
                </tr>
              </thead>
              <tbody>
                <% @borrowed_books.each do |borrowing| %>  
                  <tr>
                    <td>
                      <%= borrowing.book.title %> 
                    </td>
                    <td>
                      <%= borrowing.book.author %> 
                    </td>
                    <td>
                      <%= borrowing.due_date %>
                    </td>
                    <td>
                      <%= form_with(model: borrowing, url: return_borrowing_path(borrowing), method: :patch) do |form| %>
                        <%= form.submit 'Return', class: 'btn btn-warning btn-sm' %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% else %>
            <p>No books borrowed yet.</p>
          <% end %>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header bg-info text-white">
          <h5 class="mb-0">Recently Returned Books</h5>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Book</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Returned At</th>
              </tr>
            </thead>
            <tbody>
              <% @recently_returned_books.each do |borrow| %>
                <tr>
                  <td>
                    <%= borrow.book.title %>
                  </td>

                  <td>
                    <%= borrow.book.author %>
                  </td>

                  <td>
                    <%= borrow.book.genre %>
                  </td>

                  <td>
                    <%= borrow.book.borrowings.first.returned_at %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="card mb-4">
        <div class="card-header bg-danger text-white">
          <h5 class="mb-0">Overdue Books</h5>
        </div>
        <div class="card-body">
            <% if @due_books.present? %>
            <ul>
            <% @due_books.each do |borrowing| %>
              <li><%= borrowing.book.title %> (Due Date: <%= borrowing.due_date %>)</li>
            <% end %>
          </ul>
        <% else %>
          <p>No overdue books.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

